<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome to Stanley</title>
</head>

<header>
	<nav>
		<ul>
			<li><a href="/Stanley/">STANLEY</a></li>
			<li><button type="button" class="landing-nav-btn" onclick="location.href='login'">Login</button></li>
		</ul>
	</nav>
</header>

<body>

	<div class="landing-box">
		<h1>Trade with Stanley</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		
		<button type="button" onclick="location.href='register'">Sign Up</button>
	</div>


</body>
</html>
