<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Stanley | Login</title>
</head>

<header>
	<nav>
		<ul>
			<li><a href="/Stanley/">STANLEY</a></li>
			<li><button type="button" class="landing-nav-btn" onclick="location.href='register'">Sign up</button></li>	
		</ul>
	</nav>
</header>

<body>
	
	<div class="login-box">
		<div class="input-group">
			<p>Welcome back!</p>
			<form action="/login" method="post" id="login">
				<input type="text" name="username" placeholder="Username" class="input-field" required>
				<input type="password" name="password" placeholder="Password" class="input-field" required>
				<button type = "submit" class="submit-btn">LOGIN</button>
			</form> 
		</div>
	</div>	

</body>
</html>