<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<header th:insert="navbar :: navbar">
</header>

<body>
<div class="container">
	<div class="row">
		<div class="col">
			<h2>My Current Spot Orders</h2>
		    <table class="table table-bordered table-striped">
		        <thead>
		        <tr>
		            <th>Buy Amount</th>
		            <th>Buy Currency</th>
		            <th>Sell Amount</th>
		            <th>Sell Currency</th>
		            <th>Expiry Date</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr th:each="spots: ${listCurrentSpotOrders}">
		            <td th:text="${(spots.buyAmount)}" />
		            <td th:text="${#strings.toUpperCase(spots.buyCurrency.currencyCode)}" />
		            <td th:text="${(spots.sellAmount)}" />
		            <td th:text="${#strings.toUpperCase(spots.sellCurrency.currencyCode)}" />
		            <td th:text="${(spots.expiryDate)}" />
		        </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	<br>
	
	<div class="row">
		<div class="col">
			<h2>My Current Forward Orders</h2>
		    <table class="table table-bordered table-striped">
		        <thead>
		        <tr>
		            <th>Buy Amount</th>
		            <th>Buy Currency</th>
		            <th>Sell Amount</th>
		            <th>Sell Currency</th>
		            <th>Closing Date</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr th:each="forwards: ${listCurrentForwardOrders}">
		            <td th:text="${(forwards.buyAmount)}" />
		            <td th:text="${#strings.toUpperCase(forwards.buyCurrency.currencyCode)}" />
		            <td th:text="${(forwards.sellAmount)}" />
		            <td th:text="${#strings.toUpperCase(forwards.sellCurrency.currencyCode)}" />
		            <td th:text="${(forwards.closingDate)}" />
		        </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	<br>
		
	<div class="row">
		<div class="col">
			<h2>My Spot Transactions</h2>
		    <table class="table table-bordered table-striped">
		        <thead>
		        <tr>
		            <th>Transaction Time</th>
		            <th>Buy Amount</th>
		            <th>Buy Currency</th>
		            <th>Sell Amount</th>
		            <th>Sell Currency</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr th:each="spots: ${listSpotOrderTransactionHistory}">
		            <td th:text="${(spots.transactionTime)}" />
		            <td th:text="${(spots.user1BuyCurrencyAmount)}" />
		            <td th:text="${#strings.toUpperCase(spots.user1BuyCurrency.currencyCode)}" />
		            <td th:text="${(spots.user2BuyCurrencyAmount)}" />
		            <td th:text="${#strings.toUpperCase(spots.user2BuyCurrency.currencyCode)}" />
		        </tr>
		        </tbody>
		    </table>
		</div>
		<div class="col">
			<h2>My Forward Transactions</h2>
		    <table class="table table-bordered table-striped">
		        <thead>
		        <tr>
		            <th>Transaction time</th>
		            <th>Creator Received Amount</th>
		            <th>Transaction Currency</th>
		        </tr>
		        </thead>
		        <tbody>
		        <tr th:each="forwards: ${listForwardOrderTransaction}">
		            <td th:text="${(forwards.transactionTime)}" />
		            <td th:text="${(forwards.creatorReceivedAmount)}" />
		            <td th:text="${#strings.toUpperCase(forwards.transactionCurrency.currencyCode)}" />
		        </tr>
		        </tbody>
		    </table>
		</div>
	</div>
</div>
</body>
</html>