<!DOCTYPE html>
<html xmlns:th= " http://www.thymeleaf.org ">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<form th:action="@{/{username}/wallet/createWallet(username=${username})}" th:object="${currencyList}" method="post">
			<label>New Wallet Currency</label>
			<select id="walletCurrencyId" name="walletCurrencyId" required>
				<option th:each="currency : ${currencyList}" th:value="${currency.currencyId}" th:text="${currency.currencyName} + ' ' + ${currency.currencyCode}"></option>
			</select>
			<button type="submit">Add new wallet</button>
		</form>
	</div>
</body>
</html>